//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variables de las fuentes
$poppins: Poppins;
$merriweather: Merriweather;

//variables de color
$background-color: #2B2D38;
$pink: #DB2A6B;
$white: #FFFFFF;
$silver: #ABABAB;