//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variables de color
$dark-blue: #2B2D38;
$pink: #DB2A6B;
$white: #FFFFFF;
$silver: #ABABAB;
$silver-blue: #95969B;
$silver-blue-dark: #464751;

// fuentes de la pagina
$poppins: 'Poppins';
$merri: 'Merriweather 48pt';