@use '../abstracts/abstracts' as abs;

html *{
    font-family: abs.$poppins;
}

body{
    background-color: abs.$dark-blue;
    background-image: url("/icons/icon-ellipse.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;
    @include abs.breakpoint(desktopxxl){
        background-position-y: 150%;
    }
}